    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            {{#each main}}
            <tr>
                <td>{{dataMap.username}}</td>
                <td>{{dataMap.dateCreated}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
