<html>
<head>
    <title>Cypher Password Access Report</title>
</head>
<body>
    <h1>Cypher Password Access Report</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            {{#each main}}
            <tr>
                <td>{{dataMap.username}}</td>
                <td>{{dataMap.dateCreated}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>