    <style>
    /* report css */
    th, td {
        line-height:32px!important;
        padding-top:5px;
    }

    .custom-border-bottom {
        border-bottom: 2px solid #ddd;
    }

    #spoonboy-report h2 {
        border-bottom: 1px solid #ddd;
        margin: 10px 0 20px;
        padding: 0 0 5px;
    }

    .force-center {
        text-align:center!important;
    }
</style>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Date Accessed</th>
                <th>Cypher</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each main}}
            <tr>
                <td>{{dataMap.username}}</td>
                <td>{{dataMap.dateAccessed}}</td>
                <td>{{dataMap.cypher}}</td>
                <td>{{dataMap.description}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
